body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 0;
  margin: 0;
}

#cabecalho {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  width: 70%;
  padding: 10px;
  margin: auto;
  background-color: rgb(113, 113, 205);
  color: white;
  text-align: center;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.image {
  text-align: center;
}

#minha_foto {
  width: 250px;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  border-block-end-style: groove;
}

main {
  margin-top: 160px;
}

main h2 , h3 {
  text-align: center;
}

.lists {
  left: 0;
  right: 0;
}

.lists table {
  margin: auto;
}

.lists td {
  line-height: 1.5;
  vertical-align: text-top;
  padding: 50px;
  padding-top: 20px;
  max-width: 650px;
}

.bottom-container {
  text-align: center;
  right: 0;
  left: 0;
}

.inside-bottom-container {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  margin: auto;
  width: 70%;
  background-color: rgb(113, 113, 205);
}

.bottom-container section {
  line-height: 1.4;
  display: inline-block;
  max-width: 400px;
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.lado-esquerdo , .lado-direito {
  color: white;
  vertical-align: text-top;
  width: 350px;
  text-align: left;
}

#rodape {
  background-color: rgb(113, 113, 205);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  text-align: center;
  color: white;
}

#rodape section {
  vertical-align: middle;
  display: inline-block;
}

.social-media li {
  margin-right: 10px;
  display: inline-block;
}

footer img {
  width: 50px;
  vertical-align: middle;
}

footer p {
  font-size: small;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.logo-Github {
  border-radius: 100%;
  background-color: white;
}
